.cardItems {
    border: none;
    height: 581px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    
}
.cardBody {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.cardText {
    display:flex;
    justify-content: space-between;
}