.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.dark {
    background-color: #000;
    color: white;
}
.light {
    color: #000;
    background-color: white;
}