.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.dark {
    background-color: #000 !important;
    color: white !important;
}
.light {
    color: #000 !important;
    background-color: white !important;
}
.shadowBoxImg {
    box-shadow: inset 0px 0px 27px 41px #000
}
.transparent {
    background-color: transparent !important;
}